html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-size: $baseFontSize;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    // line-height: 120%;
    color: #525252;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.wrapper {
    position: relative;
    width: 100%;
    // min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

// img {
//     display: block;
// }

h1 {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 90%;
    color: #2D2D2D;
}

h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}
