@import "https://cdnjs.cloudfare.com/ajax/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=PT+Sans+Caption:wght@400;700&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #525252;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 90%;
  color: #2D2D2D;
}

h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  padding: 9px 0 8px;
  background: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  color: #C0C2C2;
  font-size: 16px;
  padding: 11px 0 0 32px;
}
.menu__item--main {
  color: #525252;
  font-size: 20px;
  padding-top: 6px;
}

.description__section {
  background: #E4E4E4;
}
.description__container {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-olympiad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2F7F8;
  border-radius: 16px;
}
.banner-olympiad__text {
  margin: 63px 63px 56px 84px;
}
.banner-olympiad__info {
  margin: 29px 0 53px 0;
  font-size: 20px;
}
.banner-olympiad__img {
  margin: 40px 101px 73px 0;
}

.timer-registration {
  background: url("../../img/description/registration_back.png") no-repeat;
  background-size: 100% 100%;
  color: #F3F3F3;
  text-align: center;
  width: auto;
  height: auto;
  padding: 101px 44px 102px 44px;
}
.timer-registration h1 {
  color: #F3F3F3;
}
.timer-registration__text {
  font-size: 20px;
  margin: 9px 0 28px 0;
}
.timer-registration__time {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 28px;
  line-height: 90%;
}

.btn {
  width: 140px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 8px 28px 11px;
}
.btn--theme-white {
  border: 1px solid #B0B0B0;
  color: #689F38;
  background: #FFFFFF;
}
.btn--theme-green {
  color: #FFFFFF;
  background: #689F38;
}
.btn__enter {
  margin-right: 19px;
}
.btn__up {
  border: 1px solid #B0B0B0;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
  width: 85px;
  height: 24px;
  padding: 5px 16px 7px 17px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits__section {
  position: relative;
  padding-top: 161px;
  padding-top: 29px;
}
.benefits__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 32px 94px 37px 95px;
}
.benefits__title {
  padding-bottom: 31px;
}

.benefit__text {
  padding-top: 8px;
  font-size: 16px;
}

.registration__section {
  padding-top: 29px;
}
.registration__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 30px 435px 36px 427px;
}
.registration__blocks {
  padding: 20px 45px 29px 45px;
}
.registration__block {
  padding-top: 11px;
}
.registration__block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}
.registration__block-column:last-child {
  padding-right: 0;
}
.registration__columns {
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.registration__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  font-weight: 300;
  padding-left: 6px;
  padding-bottom: 3px;
}
.registration__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 22px;
}
.registration__check-text {
  font-size: 12px;
  line-height: 115%;
  font-weight: 300;
  padding-left: 8px;
}

.input {
  background: #D4DDDF;
  border-radius: 8px;
  width: 100%;
  height: 28px;
  border: none;
  margin: 0;
  padding: 0;
}

input[type=radio] {
  margin: 0;
  padding: 0;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.steps__section {
  padding-top: 29px;
}
.steps__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 30px 73px 40px 86px;
}
.steps__video {
  padding-top: 31px;
  padding-bottom: 41px;
}
.steps__item {
  text-align: left;
}
.steps__item h2 {
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}
.steps__item p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  padding-top: 12px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 56px;
  padding-top: 57px;
}
.information__section {
  background: #E4E4E4;
  padding-top: 29px;
}
.information__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 30px 122px 60px 125px;
}
.information__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}
.information__text {
  font-weight: 300;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
.information__text:not(:last-child) {
  border-right: 1px solid #B0B0B0;
}

.olympiad__section {
  background: #E4E4E4;
  padding-top: 29px;
}
.olympiad__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 30px 300px 49px 300px;
}
.olympiad__title {
  text-align: center;
}
.olympiad__text {
  font-weight: 300;
  font-size: 16px;
}
.olympiad__text--price {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 14px;
}
.olympiad__text--time {
  font-weight: 700;
  font-size: 28px;
  line-height: 90%;
}
.olympiad__text--line {
  border-bottom: 2px solid #B0B0B0;
  width: 172px;
  padding-bottom: 9px;
}
.olympiad__columns {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.olympiad__condition {
  margin-right: 64px;
}
.olympiad__condition h3 {
  padding-bottom: 12px;
}
.olympiad__condition p {
  padding-bottom: 51px;
}
.olympiad__price h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 7px;
}
.olympiad__number {
  padding-right: 47px;
}
.olympiad__socials {
  padding-top: 24px;
  padding-bottom: 33px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.start__section {
  background: #525252;
  padding-top: 29px;
}
.start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 62px 220px 73px 220px;
}
.start__title {
  padding-bottom: 23px;
}
.start__text {
  font-weight: 500;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 13px;
  text-align: center;
}
.start__block {
  padding-bottom: 40px;
}
.start__line {
  border-bottom: 2px solid #B0B0B0;
  width: 335px;
  padding-bottom: 44px;
  padding-top: 40px;
  text-align: center;
}
.start__socials {
  padding-left: 41px;
  padding-right: 41px;
}

.footer__section {
  text-align: center;
  background: #525252;
}
.footer__up {
  padding: 35px;
}

.custom-checkbox {
  padding-bottom: 12px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  margin-bottom: auto;
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #689F38;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.custom-checkbox:checked + label::before {
  border-color: #689F38;
  background-color: #F2F7F8;
  background-image: url("../../img/checkbox.svg");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #689F38;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #F2F7F8;
  border-color: #689F38;
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #689F38;
}

.custom-checkbox:disabled + label::before {
  background-color: #F2F7F8;
}

.section__orange {
  background: #E6B361;
}