@import "https://cdnjs.cloudfare.com/ajax/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=PT+Sans+Caption:wght@400;700&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #525252;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 90%;
  color: #2D2D2D;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  padding: 9px 0 8px;
  background: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  color: #C0C2C2;
  font-size: 16px;
  padding: 11px 0 0 32px;
}
.menu__item--main {
  color: #525252;
  font-size: 20px;
  padding-top: 6px;
}

.description__section {
  background: #E4E4E4;
}

.description__container {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-olympiad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2F7F8;
  border-radius: 16px;
}
.banner-olympiad__text {
  margin: 63px 63px 56px 84px;
}
.banner-olympiad__info {
  margin: 29px 0 53px 0;
  font-size: 20px;
}
.banner-olympiad__img {
  margin: 40px 101px 73px 0;
}

.timer-registration {
  background: url("../../img/description/registration_back.png") no-repeat;
  background-size: 100% 100%;
  color: #F3F3F3;
  text-align: center;
  width: auto;
  height: auto;
  padding: 101px 44px 102px 44px;
}
.timer-registration h2 {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 36px;
  line-height: 90%;
}
.timer-registration__text {
  font-size: 20px;
  margin: 9px 0 28px 0;
}
.timer-registration__time {
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 28px;
  line-height: 90%;
}

.btn {
  width: 140px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 8px 28px 11px;
}
.btn--theme-white {
  border: 1px solid #B0B0B0;
  color: #689F38;
  background: #FFFFFF;
}
.btn--theme-green {
  color: #FFFFFF;
  background: #689F38;
}
.btn__enter {
  margin-right: 19px;
}

.benefits__section {
  background: #E4E4E4;
  padding-top: 29px;
}

.benefits__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #F2F7F8;
  border-radius: 16px;
  padding: 32px 94px 37px 95px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.benefit__text {
  padding-top: 8px;
  font-size: 16px;
}