.benefits {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    &__section {
        position: relative;
        padding-top: 161px;
        padding-top: 29px;
    }

    &__container {
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        background: #F2F7F8;
        border-radius: 16px;
        padding: 32px 94px 37px 95px;
    }

    &__title {
        padding-bottom: 31px;
    }
}

.benefit__text {
    padding-top: 8px;
    font-size: 16px;
}
