.benefits__section {
    background: #E4E4E4;
    padding-top: 29px;
}

.benefits__container {
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background: #F2F7F8;
    border-radius: 16px;
    padding: 32px 94px 37px 95px;
}

.benefits__title {

}

.benefits {
    display: flex;
    // align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.benefit__text {
    padding-top: 8px;
    font-size: 16px;
}
