.header__container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 9px 0 8px;
    background: #fff;
}

.menu {

}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    color: #C0C2C2;
    font-size: 16px;
    padding: 11px 0 0 32px;

    &--main {
        color: $black;
        font-size: 20px;
        padding-top: 6px;
    }
}