.custom-checkbox {
    padding-bottom: 12px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

//     &+label {
//         display: inline-flex;
//         align-items: center;
//         user-select: none;

//         &::before {
//             content: '';
//             display: inline-block;
//             width: 1em;
//             height: 1em;
//             flex-shrink: 0;
//             flex-grow: 0;
//             border: 1px solid #689F38;
//             border-radius: 50%;
//             margin-right: 0.5em;
//             background-repeat: no-repeat;
//             background-position: center center;
//             background-size: 50% 50%;
//         }
//     }

//     &:checked+label::before {
//         border-color: #689F38;
//         background-color: #F2F7F8;
//         background-image: url("../../img/checkbox.svg");
//     }

//     &:not(:disabled) {

//         &:not(:checked)+label:hover::before {
//             border-color: #689F38;
//         }

//         &:active+label::before {
//             background-color: #F2F7F8;
//             border-color: #689F38;
//         }
//     }

//     &:focus:not(:checked)+label::before {
//         border-color: #689F38;
//     }

//     &:disabled+label::before {
//         background-color: #F2F7F8;
//     }
// }

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    margin-bottom: auto;
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #689F38;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
}

.custom-checkbox:checked+label::before {
    border-color: #689F38;
    background-color: #F2F7F8;
    background-image: url("../../img/checkbox.svg");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #689F38;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #F2F7F8;
    border-color: #689F38;
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #689F38;
}

.custom-checkbox:disabled+label::before {
    background-color: #F2F7F8;
}