.steps {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    &__section {
        background: #E4E4E4;
        padding-top: 29px;
    }

    &__container {
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        background: #F2F7F8;
        border-radius: 16px;
        padding: 30px 73px 40px 86px;
    }

    &__title {

    }

    &__video {
        padding-top: 31px;
        padding-bottom: 41px;
    }

    &__item {
        text-align: left;

        h2 {
            font-size: 20px;
            line-height: 120%;
            text-align: left;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            padding-top: 12px;
        }

    }
}